{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #e3e7eb;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right" style="position: relative; top: -540px">
    <div class="card my-1">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <p class="card-text">
                This awesome BL0G is made on the top of full stack Framework 'Django', follow up the tutorial to learn how it's made..!
            </p>
            <a href="https://djangocentral.com/building-a-blog-application-with-django" class="btn btn-danger">Know more!</a
      >
    </div>
  </div>
</div>

{% endblock sidebar %}